<nav class="navbar navbar-expand-lg bg-dark text-white" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Animalstore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> <i style="margin-top: 0.7vh; color: white;"class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/products">Products</a>
                </li>
            </ul>
            <button class="btn btn-outline-light me-2" type="submit" routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        </div>
    </div>
</nav>