.input {
    margin-top: 1vh;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 1vh;
}

#submit {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

#cont {
    background-color: white;
    padding: 3vh;
    margin-top: 4vh;
    border: 1px solid black;
}

#content {
    background-color: floralwhite;
    min-height: 90vh;
    padding-bottom: 2vh;
}

.inputs {
    padding-right: 11.5%;
}