<div style="background-color:cornsilk; min-height: 90vh; padding-bottom: 2vh;">
    <div class="container">
        <h3 class="d-flex justify-content-center pt-3">Our Animals</h3>
        <div class="row row-cols-3">
            <div *ngFor="let product of products; index as i">
                <div class="d-flex justify-content-center">
                    <div class="card m-5" style="width: 18rem;">
                        <img style="height: 12rem;" src="{{product.picture}}" class="card-img-top" alt="...">
                        <div style="text-align: center;" class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <a routerLink="/products/{{i}}" class="btn btn-outline-dark">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="cont">
        <h3 style="text-align: center;"> Add new Pet</h3>
        <form [formGroup]="petform" (ngSubmit)="pushPet()">
            <div class="row inputs">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="picture">Picture:&nbsp;&nbsp; </label>
                    <input id="picture" type="text" formControlName="picture">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="name">Name:&nbsp;&nbsp; </label>
                    <input id="name" type="text" formControlName="name">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="price">Price:&nbsp;&nbsp; </label>
                    <input id="price" type="number" formControlName="price">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="description">Description:&nbsp;&nbsp; </label>
                    <input id="description" type="text" formControlName="description">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="counter">Counter:&nbsp;&nbsp; </label>
                    <input id="counter" type="number" formControlName="counter">
                </div>
            </div>
            <div id="submit">
                <input type="Submit" class="btn btn-outline-dark " value="submit" [class.disabled]="!petform.valid">
            </div>
        </form>
    </div>
</div>