<div style="display: flex; justify-content: center; position: relative; margin-bottom: 1vh; min-height: 85vh;">
    <img src="https://www.oekotest.de/static_files/images/article/Welches-Haustier-passt-zu-mir_Dora-Zett-Shutterstock_11586_16x9.jpg" alt="">
    <div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 17%; background-color: rgb(0, 0, 0, 0.8); text-align: center; color: white;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
            <h3> Get your new best friend right now!</h3>
            <button class="btn btn-outline-light" routerLink="/products" value="See Animals!">See Animals!</button>
        </div>
    </div>
</div>